In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [81]:
glasses = pd.read_csv('glass source classification dataset.csv')

In [82]:
glasses.head()

,Unnamed: 0,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
0,0,1.52101,13.64,4.49,1.10,71.78,0.06,NaN,Does not exist,Does not exist,building_window glass
1,1,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,Does not exist,Does not exist,building_window glass
2,2,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,Does not exist,Does not exist,building_window glass
3,3,1.51766,13.21,3.69,1.29,72.61,0.57,NaN,Does not exist,Does not exist,building_window glass
4,4,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,Does not exist,Does not exist,building_window glass

In [83]:
glasses.shape

(214, 11)

In [84]:
glasses.isnull().sum()

Unnamed: 0    0
RI            0
Na            0
Mg            0
Al            0
Si            0
K             0
Ca            6
Ba            0
Fe            0
Type          0
dtype: int64

In [85]:
glasses1=glasses.dropna(axis=0)

In [86]:
glasses1.isnull().sum()

Unnamed: 0    0
RI            0
Na            0
Mg            0
Al            0
Si            0
K             0
Ca            0
Ba            0
Fe            0
Type          0
dtype: int64

In [87]:
glasses1.shape

(208, 11)

In [88]:
glasses1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208 entries, 1 to 213
Data columns (total 11 columns):
Unnamed: 0    208 non-null int64
RI            208 non-null float64
Na            208 non-null float64
Mg            208 non-null float64
Al            208 non-null float64
Si            208 non-null float64
K             208 non-null float64
Ca            208 non-null float64
Ba            208 non-null object
Fe            208 non-null object
Type          208 non-null object
dtypes: float64(7), int64(1), object(3)
memory usage: 19.5+ KB

In [89]:
glasses1['Type'].unique()

array(['building_window glass', 'vehicle_window glass', 'container glass',
       'tableware glass', 'headlamp glass'], dtype=object)

In [90]:
from sklearn.preprocessing import LabelEncoder

In [91]:
le= LabelEncoder()

In [92]:
glasses1['Ba'].unique()

array(['Does not exist', 'exists'], dtype=object)

In [93]:
glasses1['Ba']=le.fit_transform(glasses1['Ba'])

C:\Users\Ridwan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [94]:
print(glasses1['Ba'].head())

1    0
2    0
4    0
5    0
6    0
Name: Ba, dtype: int32

In [95]:
glasses1['Fe'].unique()

array(['Does not exist', 'exists'], dtype=object)

In [96]:
glasses1['Fe']=le.fit_transform(glasses1['Fe'])

C:\Users\Ridwan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [97]:
print(glasses1['Fe'].head())

1    0
2    0
4    0
5    1
6    0
Name: Fe, dtype: int32

In [98]:
glasses1['Type']=le.fit_transform(glasses1['Type'])

C:\Users\Ridwan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [99]:
print(glasses1['Type'].head())

1    0
2    0
4    0
5    0
6    0
Name: Type, dtype: int32

In [100]:
glasses['Type'].unique()

array(['building_window glass', 'vehicle_window glass', 'container glass',
       'tableware glass', 'headlamp glass'], dtype=object)

In [101]:
g=glasses1.drop('Type',1)

In [102]:
g.head()

   Unnamed: 0       RI     Na    Mg    Al     Si     K    Ca  Ba  Fe
1           1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0   0
2           2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0   0
4           4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0   0
5           5  1.51596  12.79  3.61  1.62  72.97  0.64  8.07   0   1
6           6  1.51743  13.30  3.60  1.14  73.09  0.58  8.17   0   0

In [103]:
glasses1.head()

   Unnamed: 0       RI     Na    Mg    Al     Si     K    Ca  Ba  Fe  Type
1           1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   0   0     0
2           2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   0   0     0
4           4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   0   0     0
5           5  1.51596  12.79  3.61  1.62  72.97  0.64  8.07   0   1     0
6           6  1.51743  13.30  3.60  1.14  73.09  0.58  8.17   0   0     0

In [104]:
from sklearn.preprocessing import MinMaxScaler